body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background: #f9f9f9;
    position: relative;
}

.material-icons{
    cursor: pointer;
    color: rgb(90, 90, 90);
}

a{
    text-decoration: none;
    color: #030303;
}

a:visited {
    color: #030303; 
}


/* 헤더 */
header{
    background: #ffffff;
    height: 56px;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

/* 첫번째 섹션 */
header>ul.first-section{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    margin: auto 0;
    display: flex;
    align-items: center;
}

header ul.first-section li{
    float: left;
}

/* 햄버거 아이콘 */
header ul.first-section li .material-icons{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 5px;
}

/* 유튜브 로고 이미지 */
header ul.first-section li img{
    height: 29px;
    margin-right: 32px;
    margin-top: 5px;
}

/* 두번째 섹션 */
ul.second-section{
    padding-left: 166px;
    margin-top: 5px;
}


#search__box{
    height:26px;
    width: 565px;
    font-size: 15px;
    color: rgb(17,17,17);
    border: #ccc 1px solid;
    
}


button#search-btn{
    height: 30px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc 1px solid;
    border-left: none;
}

#search-btn .material-icons{
    text-align: center;
    padding-left: 22px;
    font-size: 20px;

}

.second-section .material-icons{
    padding-left: 12px;
    font-size: 18px;
}




/* 세번째 섹션 */
.third-section{
    position: absolute;
    right: 18px;
    display: flex;
}


.third-section .material-icons{
    font-size: 25px;
}

.third-section .dot{
    display: flex;
    align-items: center;
}

.third-section .dot div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.third-section .dot .material-icons{
    padding-right: 20px;
}

.third-section .login--btn{
    border: #065fd4 1px solid;
    width: 95px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px 9px;
    background: #ffffff;
}


.third-section li button .material-icons{
    color: #065fd4;
    position: absolute;
    width: 24px;
}

.third-section li div.login_text{
    position: absolute;
    font-size: 14px;
    margin-left: 32px;
    color: #065fd4;
    display: block;
}

/* 사이드 메뉴 */
#side__menu{
    position: absolute;
    height: 153%;
    width: 222px;
    display: flex;
    top: -56px;
    background: #ffffff;
    transform: translateX(-100%);
    transition: .2s;
    z-index: 4;
}

/* 사이드 메뉴 아이콘 */
#side__menu .material-icons{
    font-size: 25px;
    margin: 15px 20px 0 25px;
}

/* 유튜브 로고 이미지 */
#side__menu img.side_logo{
    height: 29px;
    margin: 12px 32px 0 0;
}


/* 사이드 메뉴 리스트 */
#side__menu ul.side__list{
    position: absolute;
    margin-top: 65px;
    font-size: 14px;
    /* background: indigo; */
}

#side__menu ul li{
    width: 222px;
    height: 42px;
}

#side__menu ul li.list_first{
    display: flex;
    align-items: center;
}

#side__menu ul li.list_bottom{
    margin-bottom: 10px;
}


#side__menu ul li.list_top{
    margin-top: 20px;
}

#side__menu ul li:hover{
    background: #e5e5e5;
    transition: 0.1s;
}

#side__menu ul li .material-icons{
    margin-bottom: 13px; 
}

#side__menu ul li a{
    position: relative;
}

#side__menu ul div.list_second{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 11px;
    margin-left: 20px;
    color: rgb(3,3,3);
}

#side__menu ul div.list_third{
    height: 50px;
    display: flex;
    padding-left: 6px;
    margin-left: 20px;
}


#side__menu ul div .login--btn{
    border: #065fd4 1px solid;
    width: 105px;
    height: 34px;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 5px 12px;
}

#side__menu ul div .login--btn .material-icons{
    color: #065fd4; 
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    width: 24px;
}

#side__menu ul div .login--btn .login_text{
    color: #065fd4;
    margin-left: 32px;
    font-size: 14px;
}

#side__menu ul div.list_fourth{
    display: flex;
    align-items: center;
    padding: 8px 24px;
    box-sizing: border-box;
    color: rgb(96,96,96);
}

#side__menu ul div.list_fourth .bord{
    font-weight: 500;
}

#side__menu ul div.list_fourth .first{
    margin-right: 3px;
}

#side__menu ul div.list_fourth .second{
    margin-left: 3px;
}

#side__menu ul li.list_first img{
    border-radius: 50px;
    font-size: 25px;
    margin: auto 20px;
    height: 24px;
    margin: 0 20px 0 25px;
}


#side__menu .guide-icon{
    width: 25px;
    height: 25px;
    margin-right: 45px;
    fill: rgb(96, 96, 96);
}

#side__menu .yt-icon{
    width: 25px;
    height: 25px;
    margin-left: 25px;
}


/* footer */
footer a{
    text-decoration: none;
    color: rgb(96,96,96);
}

footer .footer_first{
    margin: 16px 24px 0 24px;
    font-size: 13px;
    
}

footer .footer_third{
    color: rgb(144,144,144);
    margin: 16px 24px;
    font-size: 13px;
}

/* 본문 섹션 */
section.wrapper {
    overflow: hidden;
    margin-top: 56px;
  }

/* 왼쪽 섹션 */
aside#left{
    width: 5%;
    height: 90vh;
    float: left;
    display: flex;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    z-index: 3;
}

aside#left .material-icons{
    font-size: 24px;
    display: flex;
    justify-content: center;
}

aside#left .left_text{
    font-size: 2px;
    text-align: center;
    margin-top: 6px;
    color: #606060;
    cursor: pointer;
}

aside#left .left_text_new{
    margin-top: 0px;
}

aside#left ul li{
    padding: 3px 11px;
}

aside#left ul li.left_first{
    margin-top: 18px;
}

aside#left ul li.left_second{
    margin-top: 25px;
}

aside#left ul li:hover{
    background: #e5e5e5;
    transition: 0.2s;
}

aside#left svg.yt-icon{
    width: 24px;
    height: 24px;
    margin-left: 7px;
    fill: #606060;
}

/* 메인 */
main {
    margin-left: 87px;
    width: 100%;
    height: 100%;
    margin-top: 24px;
}

main .main_items{
    width: 313.984px;
    height: 270.609px;
    margin: 0 8px 40px 8px;
    display: flex;
    justify-content: center;
    float: left;
    overflow: hidden;
}

main .main_items .profile{
    float: left;
    margin: 12px 12px 40px 0;
}

main .main_items .profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

main .main_items .video{
    margin-top: 12px;
}

main .main_items img{
    display: block;
    width: 313.984px;
    height: 176.609px;
}

main .main_items{
    font-size: 14px;
}

main .main_items .video_contents{
    color: #606060;
}

main .main_items .material-icons{
    font-size: 13px;
}

main .main_items p{
    display: flex;
    align-items: center;
}

main .main_items span{
    margin-right: 3px;
}

/* 헤더 점9개 메뉴바 */
#dot_menu1{
    width: 227.469px;
    height: 251px;
    position: absolute;
    background: #fafafc;
    right: 0%;
    margin-right: 150.031px;
    top: 40px;
    z-index: 2;
    cursor: pointer;
}

#dot_menu1 ul li{
    padding: 0px 36px 0px 16px;
    display: flex;
    align-items: center;
    height: 40px;
}

#dot_menu1 ul li.li_1{
    margin: 8px 0px 8px 0px;
}

#dot_menu1 ul li.li_2{
    margin-top: 16px;
}

#dot_menu1 ul li.li_3{
    margin-bottom: 8px;
}

#dot_menu1 ul li span{
    margin-left: 17px;
    font-size: 14px;
}

#dot_menu1 ul li:hover{
    background: #e5e5e5;
    transition: 0.1s;
}

#dot_menu1 .style-scope{
    width: 24px;
    height: 24px;
    margin-left: 0px;
}

#dot_menu1 .yt-icon{
    width: 24px;
    height: 24px;
}


/* 헤더 점 3개 메뉴바 */
#dot_menu2{
    width: 298px;
    height: 393px;
    position: absolute;
    margin-right: 105px;
    background: #fafafc;
    right: 0;
    top: 40px;
    z-index: 2;
    cursor: pointer;
    transform:translateY(-150%);
    /* overflow: hidden; */
}

#dot_menu2 ul li{
    padding: 0px 16px 0px 16px;
    display: flex;
    align-items: center;
    height: 40px;
}

#dot_menu2 ul li span{
    margin-left: 17px;
    font-size: 14px;
    width: 202px;
    height: 21px;
}

#dot_menu2 ul li:hover{
    background: #e5e5e5;
    transition: 0.1s;
}

#dot_menu2 ul li.li_1{
    margin-top: 8px;
}

#dot_menu2 ul li.li_2{
    margin-bottom: 8px;
}

#dot_menu2 ul li.li_3{
    margin-top: 16px;
    padding-left: 0px;
}

#dot_menu2 ul li.li_3 span{
    width:242px
}

#dot_menu2 .style-scope{
    width: 24px;
    height: 24px;
    margin-left: 0px;
}

#dot_menu2 .yt-icon{
    width: 24px;
    height: 24px;
    fill: rgb(144,144,144);
}

#dot_menu2 p{
    padding-right: 0px;
    color: rgb(144,144,144);
}

/* 네비게이션 클릭 이벤트 dot1 */
#open_menu + label nav{
    display: block;
}

#open_menu + label div#dot_menu1{
    display: block;
    transform: translateY(-150%);
}

#open_menu:checked + label div#dot_menu1{
    transform: translateY(0%);
}

#open_menu{
    display: none;
}

/* 네비게이션 클릭 이벤트 dot1 */
#open_menu2 + label nav{
    display: block;
}

#open_menu2 + label div#dot_menu2{
    display: block;
    transform: translateY(-150%);
}

#open_menu2:checked + label div#dot_menu2{
    transform: translateY(0%);
}

#open_menu2{
    display: none;
}