body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background: #f9f9f9;
}

.material-icons{
    cursor: pointer;
    color: rgb(90, 90, 90);
}

/* 헤더 */
header{
    background: #ffffff;
    height: 56px;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

/* 첫번째 섹션 */
header>ul.first-section{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    margin: auto 0;
    display: flex;
    align-items: center;
}

header ul.first-section li{
    float: left;
}

/* 햄버거 아이콘 */
header ul.first-section li .material-icons{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 5px;
}

/* 유튜브 로고 이미지 */
header ul.first-section li img{
    height: 29px;
    margin-right: 32px;
    margin-top: 5px;
}

/* 네비게이션바 */
nav{
    position: absolute;
    height: 185%;
    width: 222px;
    display: flex;
    top: 0px;
    background: #ffffff;
    transform: translateX(-100%);
    transition: .2s;
}

/* 네이게이션 아이콘 */
nav .material-icons{
    font-size: 25px;
    margin: 15px 20px 0 25px;
}

/* 유튜브 로고 이미지 */
nav img.side_logo{
    height: 29px;
    margin: 12px 32px 0 0;
}


/* 네비게이션 리스트 */
nav ul.side__list{
    position: absolute;
    margin-top: 65px;
    font-size: 14px;
    /* background: indigo; */
}

nav ul li{
    width: 222px;
    height: 42px;
}

nav ul li.list_first{
    display: flex;
    align-items: center;
}

nav ul li.list_bottom{
    margin-bottom: 10px;
}


nav ul li.list_top{
    margin-top: 20px;
}

nav ul li:hover{
    background: #e5e5e5;
    transition: 0.1s;
}

nav ul li .material-icons{
    margin-bottom: 13px; 
}

nav ul li a{
    text-decoration: none;
    color: #030303;
    position: relative;
}

nav ul div.list_second{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 11px;
    margin-left: 20px;
    color: rgb(3,3,3);
}

nav ul div.list_third{
    height: 50px;
    display: flex;
    padding-left: 6px;
    margin-left: 20px;
}


nav ul div .login--btn{
    color: #065fd4;
    border: #065fd4 1px solid;
    width: 105px;
    height: 34px;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

nav ul div .login--btn .material-icons{
    color: #065fd4; 
    position: absolute;
    display: inline;
    margin-left: 0;
    margin-top: 0;
    padding-left:8px ;
}

nav ul div .login--btn .login_text{
    display: inline;
    margin-left: 38px;
}

nav ul div.list_fourth{
    display: flex;
    align-items: center;
    padding: 8px 24px;
    box-sizing: border-box;
    color: rgb(96,96,96);
}

nav ul div.list_fourth .bord{
    font-weight: 500;
}

nav ul div.list_fourth .first{
    margin-right: 3px;
}

nav ul div.list_fourth .second{
    margin-left: 3px;
}

nav ul li.list_first img{
    border-radius: 50px;
    font-size: 25px;
    margin: auto 20px;
    height: 24px;
    margin: 0 20px 0 25px;
}


.guide-icon{
    width: 25px;
    height: 25px;
    margin-right: 45px;
}

.yt-icon{
    width: 25px;
    height: 25px;
    margin-left: 25px;
}


/* footer */
footer a{
    text-decoration: none;
    color: rgb(96,96,96);
}

footer .footer_first{
    margin: 16px 24px 0 24px;
    font-size: 13px;
    
}

footer .footer_third{
    color: rgb(144,144,144);
    margin: 16px 24px;
    font-size: 13px;
}

/* 두번째 섹션 */
ul.second-section{
    padding-left: 166px;
    margin-top: 5px;
}


#search__box{
    height:26px;
    width: 565px;
    font-size: 15px;
    color: rgb(17,17,17);
    border: #ccc 1px solid;
    
}


button#search-btn{
    height: 30px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc 1px solid;
    border-left: none;
}

#search-btn .material-icons{
    text-align: center;
    padding-left: 22px;
    font-size: 20px;

}

.second-section .material-icons{
    padding-left: 12px;
    font-size: 18px;
}




/* 세번째 섹션 */
.third-section{
    position: absolute;
    right: 30px;
    display: flex;
}


.third-section .material-icons{
    font-size: 25px;
}

.third-section .dot{
    display: flex;
    align-items: center;
}

.third-section .dot div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.third-section .dot .material-icons{
    padding-right: 20px;
}

.third-section .login--btn{
    color: #065fd4;
    border: #065fd4 1px solid;
    width: 95px;
    height: 40px;
}


.third-section li button .material-icons{
    color: #065fd4;
    position: absolute;
    display: inline;
    margin-left: -10px;
}

.third-section li div.login_text{
    display: inline;
    font-size: 14px;
    margin-left: 20px;
}

/* 본문 섹션 */
section.wrapper {
    overflow: hidden;
  }

/* 왼쪽 섹션 */
aside#left{
    width: 5%;
    height: 90vh;
    float: left;
    display: flex;
    justify-content: center;
}

aside#left .material-icons{
    color: rgb(90, 90, 90);
    font-size: 25px;
    padding-left: 15px;
}

aside#left .material-icons .left_text{
    font-size: 2px;
    text-align: center;
    margin-top: 4px;
}

aside#left ul li{
    margin-top: 23px;
    padding: 3px 11px;
}
aside#left ul li:hover{
    background: #e5e5e5;
    transition: 0.2s;
}

/* 메인 */
main {
    margin-left: 87px;
    width: 100%;
    height: 100%;
    margin-top: 24px;
}

main .main_items{
    width: 313.984px;
    height: 270.609px;
    margin: 0 8px 40px 8px;
    display: flex;
    justify-content: center;
    float: left;
    overflow: hidden;
}

main .main_items .profile{
    float: left;
    margin: 12px 12px 40px 0;
}

main .main_items .profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

main .main_items .video{
    margin-top: 12px;
}

main .main_items img{
    display: block;
    width: 313.984px;
    height: 176.609px;
}

main .main_items{
    font-size: 14px;
}

main .main_items .video_contents{
    color: #606060;
}