body {
    padding: 4rem;
    white-space: nowrap;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/462/776/983/nature-sea-underwater-water-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.poem {
    display: flex;
    flex-direction: column;
    padding: 0 20rem;
    justify-content: center;
    align-items: center;
}

.head {
    width: 50%;
    margin-bottom: 5rem;
    cursor: pointer;
}

#title {
    text-align: left;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(73, 73, 170);
}

.text {
    width: 50%;
    font-size: 1.300rem;
    font-weight: 600;
    line-height: 2rem;
}

.caluse+.caluse {
    margin-bottom: 2.25rem;
}