/* COMMON */

.inner {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 414px) {
    .inner {
        position: relative;
        width: 100%;
        min-width: 250px;
        margin: 0 auto;
    }
}

.material-icons {
    font-size: 50px;
}

/* HEADER */

header {
    width: 100%;
    background: black;
    color: #fff;
    height: 80px;
    z-index: 2;
    position: relative;
}

header>.inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

header .logo {
    display: none;
}

header #hamburger__icon {
    display: block;
    cursor: pointer;
}

header ul.menu {
    display: none;
}

header ul.sns__wrapper {
    display: none;
}

/* NAV */

nav {
    height: 50%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 80px;
    padding: 4rem 0;
    color: #fff;
    transform: translateY(-100%);
    z-index: 1;
    transition: .4s ease;
}

nav .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

nav ul.menu {
    width: 100%;
}

nav ul.menu li {
    font-size: 30px;
    padding: 20px;
    border-bottom: 1px solid #fff;
}

nav ul.sns__wrapper {
    position: absolute;
    bottom: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

nav ul.sns__wrapper li svg {
    width: 50px;
    height: 50px;
}